<div class="row">
	<div class="col">
		<%= if (errors) { %>
		<%= for (key, val) in errors { %>
		<div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
			<%= val %>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<% } %>
		<% } %>
	</div>
</div>
<div class="row mt-3 justify-content-center">
	<div class="col-md-8 col-sm-8">
		<h2><%= category.Title %></h2>
	</div>
	<div class="col-md-4 col-sm-4 text-right">
		<a href="<%= topicsCreatePath({cid: category.ID}) %>" class="btn btn-primary btn-sm m-0">New Topic</a>
	</div>
</div>
<div class="row">
	<div class="col-md-8">Topic</div>
	<div class="col-md-2 text-center">Users</div>
	<div class="col-md-1 text-center">Replies</div>
	<div class="col-md-1 text-center">Activity</div>
</div>
<%= for (topic) in topics { %>
<div class="row">
	<%= if (!topic.Deleted) { %>
	<hr class="col-md-12 col-sm-12" id="<%= topic.ID %>">
	<div class="col-md-8">
		<a href="<%= topicsDetailPath({tid: topic.ID}) %>" class="text-secondary">
			<%= topic.Title %>
		</a>
	</div>
	<div class="col-md-2 text-center">
		<%= for (author) in topic.Authors() { %>
		<span class="text-secondary">
			<img src="data:image/png;base64,<%= author.Image() %>" alt="<%= author.Username %>" style="width:50px;border-radius:50%;">
		</span>
		<% } %>
	</div>
	<div class="col-md-1 text-center"><%= len(topic.Replies) %></div>
	<div class="col-md-1 text-center"><%= timeSince(topic.LastUpdate())  %></div>
	<% } %>
</div>
<% } %>

<hr class="col-md-12 col-sm-12">
