<div class="row">
	<div class="col">
		<%= if (errors) { %>
		<%= for (key, val) in errors { %>
		<div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
			<%= val %>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<% } %>
		<% } %>
	</div>
</div>
<div class="row mt-3 justify-content-center">
	<div class="col-md-8 col-sm-8">
		<h2><%= category.Title %></h2>
	</div>
	<div class="col-md-4 col-sm-4 text-right">
		<a href="<%= topicsCreatePath({cid: category.ID}) %>" class="btn btn-primary btn-sm m-0">New Topic</a>
	</div>
</div>
<div class="row">
	<div class="col-md-6">Topic</div>
	<div class="col-md-2">Users</div>
	<div class="col-md-1 text-right">Replies</div>
	<div class="col-md-3"></div>
	<%= for (t) in topics { %>
	<hr class="col-md-12 col-sm-12">
	<div class="col-md-6">
		<a href="<%= topicsDetailPath({tid: t.ID}) %>" class="text-secondary">
			<%= t.Title %>
		</a>
	</div>
	<div class="col-md-2">authors</div>
	<div class="col-md-1 text-right"><%= len(t.Replies) %></div>
	<div class="col-md-3 text-right">
		<%= if (current_user.IsAuthor(t.AuthorID) || current_user.Admin){ %>
		<a href="<%= topicsDeletePath({tid: t.ID}) %>" class="btn btn-danger btn-sm m-0 fa fa-trash"></a>
		<a href="<%= editTopicsPath({tid: t.ID}) %>" class="btn btn-secondary btn-sm m-0 fa fa-edit"></a>
		<% } %>
	</div>
	<% } %>
</div>


