<div class="page-header">
  <h1>Category#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li><a href="<%= categoriesPath() %>" class="btn btn-info">Back to all Categories</a></li>
  <li><a href="<%= editCategoryPath({ category_id: category.ID })%>" class="btn btn-warning">Edit</a></li>
  <li><a href="<%= categoryPath({ category_id: category.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Title</strong>: <%= category.Title %>
</p>
<p>
  <strong>Description</strong>: <%= category.Description %>
</p>
<p>
  <strong>ParentCategory</strong>: <%= category.ParentCategory %>
</p>
