<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= forum.Title %></title>
		<%= stylesheetTag("application.css") %>
		<meta name="csrf-param" content="authenticity_token" />
		<meta name="csrf-token" content="<%= authenticity_token %>" />
		<link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
	</head>
	<body>
		<div class="container">
			<!-- NavBar -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
				<a class="navbar-brand" href="<%= rootPath() %>">
					<%= if (len(forum.Logo)==0) { %>
					<img src="<%= assetPath("images/logo-buffalo.png") %>" style="width:50px;">
					<% } else { %>
					<img src="data:image/png;base64,<%= forum.LogoImage() %>" style="width:50px;">
					<% } %>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="<%= categoriesIndexPath() %>">Categories</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Topics</a>
						</li>
						<%= if (current_user && current_user.Admin) { %>
						<li class="nav-item">
							<a class="nav-link" href="<%= usersSettingsPath() %>">Users</a>
						</li>
						<% } %>
					</ul>
					<ul class="navbar-nav">
						<%= if (current_user) { %>
						<li class="nav-item" style="font-size: 30px">
							<a class="nav-link" href="<%= searchPath() %>">
								<i class="fa fa-search"></i>
							</a>
						</li>
						<li class="nav-item">
							<div class="dropdown">
								<button type="button" class="btn btn-light" data-toggle="dropdown">
									<img src="data:image/png;base64,<%= current_user.Image() %>" alt="<%= current_user.Username %>" style="width:50px;" class="img-circle">
									<span class="fa fa-caret-down"></span>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item nav-link fa fa-gear" href="<%= usersSettingsPath() %>"> Settings</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item nav-link fa fa-sign-out" href="<%= usersLogoutPath() %>"> Logout</a>
								</div>
							</div>
						</li>

						<% } else { %>
						<li class="nav-item">
							<a href="<%= usersLoginPath() %>" class="nav-link">Login</a>
						</li>
						<li class="nav-item">
							<a href="<%= usersRegisterPath() %>" class="nav-link">Register</a>
						</li>
						<% } %>
					</ul>
				</div>
			</nav>
			<!-- End NavBar -->
			<%= partial("flash.html") %>
			<%= yield %>
		</div>
		<footer class="footer text-center fixed-bottom" style="z-index:-10000">
			<div>
				<ul class="list-inline">
					<li class="text-muted">Saloon &copy; 2018</li>
				</ul>
			</div>
		</footer>
		<%= javascriptTag("application.js") %>
	</body>
</html>
