<div class="row mt-3 justify-content-center">
	<div class="col-lg-6 col-md-8 col-sm-10">
		<div class="card">
			<div class="card-header">
				<h3><%= t("user-login") %></h3>
			</div>
			<div class="card-body">
				<%= if (errors) { %>
				<%= errors %>
				<%= for (key, val) in errors { %>
				<div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
					<%= val %>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<% } %>
				<% } %>
				<form action="<%= usersLoginPath() %>" method="POST" novalidate>
					<%= csrf() %>
					<div class="form-group">
						<label for="username"><%= t("user-login-username") %></label>
						<input type="text" name="Username" class="form-control" id="username">
					</div>
					<div class="form-group">
						<label for="pwd"><%= t("user-login-password") %></label>
						<input name="Password" type="password" class="form-control" id="pwd">
					</div>
					<button type="submit" class="btn btn-primary btn-block"><%= t("user-login-button") %></button>
				</form>
			</div>
		</div>
	</div>
</div>
