<div class="row">
	<h1 class="col-md-12"><%= current_user.Username %> </h1>
</div>
<div class="row">
	<h2 class="col-md-12"><%= current_user.FirstName %><%= current_user.LastName %></h2>
</div>

<hr class="col-md-12">

<div class="row">
	<h4 class="col-md-3">Username</h4>
</div>
<div class="row"/>
	<div class="col-md-2 "><%= current_user.Username %></div>
</div>

<div class="row mt-3">
	<h4 class="col-md-2">Name</h4>
</div>
<div class="row"/>
	<div class="col-md-2"><%= current_user.FirstName %><%= current_user.LastName %></div>
</div>

<div class="row mt-3">
	<h4 class="col-md-2">Email</h4>
</div>
<div class="row"/>
	<div class="col-md-2"><%= current_user.Email %></div>
</div>

<div class="row mt-3">
	<h2>Subscriptions</h2>
</div>

<div class="row">
	<table class="table table-striped col-md-10 offset-md-1">
		<thead>
			<tr>
				<th>Category</th>
				<th>Subscribed</th>
			</tr>
		</thead>
		<tbody>
			<%= for (cat) in categories { %>
			<tr>
				<td><%= cat.Title %></td>
				<%= if (current_user.Subscribed(cat.ID)) { %>
				<td><button type="submit" class="btn btn-primary">Yes</button></td>
				<% } else { %>
				<td><button type="submit" class="btn btn-alert">No</button></td>
				<% } %>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>
